<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB17</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Reporter</filter-name>
    <filter-class>com.lh.servlet.ReportFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Reporter</filter-name>
    <servlet-name>TheOneServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TheOneServlet</display-name>
    <servlet-name>TheOneServlet</servlet-name>
    <servlet-class>com.lh.servlet.TheOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheOneServlet</servlet-name>
    <url-pattern>/TheOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheTwoServlet</display-name>
    <servlet-name>TheTwoServlet</servlet-name>
    <servlet-class>com.lh.servlet.TheTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheTwoServlet</servlet-name>
    <url-pattern>/TheTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendCookieServlet</display-name>
    <servlet-name>SendCookieServlet</servlet-name>
    <servlet-class>com.lh.cookie.SendCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCookieServlet</servlet-name>
    <url-pattern>/SendCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCookie</display-name>
    <servlet-name>RemoveCookie</servlet-name>
    <servlet-class>com.lh.cookie.RemoveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCookie</servlet-name>
    <url-pattern>/RemoveCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.lh.cookie.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastTimeServlet</display-name>
    <servlet-name>LastTimeServlet</servlet-name>
    <servlet-class>com.lh.lasttime.LastTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastTimeServlet</servlet-name>
    <url-pattern>/LastTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session1Servlet</display-name>
    <servlet-name>Session1Servlet</servlet-name>
    <servlet-class>com.lh.session.Session1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session1Servlet</servlet-name>
    <url-pattern>/Session1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.lh.session.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/SessionServlet2</url-pattern>
  </servlet-mapping>
</web-app>